<%# <%= javascript_include_tag 'watchlist' %>

<% if @usertxns.empty? && params[:search].present? %>
  <div class="alert alert-warning" role="alert">
    No transactions found for the specified ticker.
  </div>
<% end %>

<div class="container">
  <h3 id="table-title">All User<%=params[:id]%>'s Transactions</h3>

  <div class="shadow-container mb-4 p-4" style="border-color: green; margin-top: 2rem;">
    <p>
      <i class="fas fa-lightbulb" style="margin-right: 0.5rem;"></i> Summary of User<%= params[:id] %>
    </p>
    <p>
      <%= @summary %>
    </p>
  </div>

  <%= simple_form_for :search, url: portfolio_path(current_user), method: :get, html: { class: "mb-3", style: "margin-top: 2rem" } do |f| %>
    <%= f.input :ticker_name, label: 'Search by Ticker', input_html: { class: 'form-control' }, label: false %>
    <%= f.button :submit, "Search", class: "btn btn-primary" %>
  <% end %>

  <%= render partial: 'shared/txn_table' %>

<%= javascript_include_tag 'watchlist' %>

<script>
  var otherUser = <%= raw @user.to_json %>;
  var countHeart = 0;
  allHearts.forEach(heart => {
    console.log("hello");
  });
</script>
