<!-- app/views/pages/landing.html.erb -->

<div class="container">
  <div class="row">
    <!-- Sidebar Nav (1/3 of the width) -->
   <div class="news-feed-column col-md-4">
    <h2 class="news-feed-main-header">News Feed</h2>


    <h3 class="news-feed-sub-header">AAPL News</h3>
    <p class="news-feed-text">
    This is a paragraph below the News Feed header, providing additional context or information as needed...
    <%= link_to 'more', 'https://www.morningstar.com/stocks/xnas/aapl/news', target: '_blank', rel: 'noopener noreferrer' %>
    </p>

    <h3 class="news-feed-header">GOOGL News</h3>
    <p class="news-feed-text">
    This is a paragraph below the News Feed header, providing additional context or information as needed...
    <%= link_to 'more', 'https://www.morningstar.com/stocks/xnas/aapl/news', target: '_blank', rel: 'noopener noreferrer' %>
    </p>


    <h3 class="news-feed-header">TSLA News</h3>
    <p class="news-feed-text">
    This is a paragraph below the News Feed header, providing additional context or information as needed...
    <%= link_to 'more', 'https://www.morningstar.com/stocks/xnas/aapl/news', target: '_blank', rel: 'noopener noreferrer' %>
    </p>

    <h3 class="news-feed-header">HSBC News</h3>
    <p class="news-feed-text">
    This is a paragraph below the News Feed header, providing additional context or information as needed...
    <%= link_to 'more', 'https://www.morningstar.com/stocks/xnas/aapl/news', target: '_blank', rel: 'noopener noreferrer' %>
    </p>

    <h3 class="news-feed-header">AMZN News</h3>
    <p class="news-feed-text">
    This is a paragraph below the News Feed header, providing additional context or information as needed...
    <%= link_to 'more', 'https://www.morningstar.com/stocks/xnas/aapl/news', target: '_blank', rel: 'noopener noreferrer' %>
    </p>

      </div>

    <!-- Main Content (2/3 of the width) -->
    <div class="col-md-8">
      <h2>My Latest Transactions</h2>
      <p><%= @greeting %></p>
    </div>
  </div>
</div>
