<div class="container">
  <div class="row">
      <h2 class="news-feed-main-header">News Feed</h2>
        <h3 class="news-feed-sub-header">AAPL News</h3>
        <p class="news-feed-text">
        This is a paragraph below the News Feed header, providing additional context or information as needed...
        <%= link_to 'more', 'https://www.morningstar.com/stocks/xnas/aapl/news', target: '_blank', rel: 'noopener noreferrer' %>
        </p>

        <h3 class="news-feed-header">GOOGL News</h3>
        <p class="news-feed-text">
        This is a paragraph below the News Feed header, providing additional context or information as needed...
        <%= link_to 'more', 'https://www.morningstar.com/stocks/xnas/aapl/news', target: '_blank', rel: 'noopener noreferrer' %>
        </p>

        <h3 class="news-feed-header">TSLA News</h3>
        <p class="news-feed-text">
        This is a paragraph below the News Feed header, providing additional context or information as needed...
        <%= link_to 'more', 'https://www.morningstar.com/stocks/xnas/aapl/news', target: '_blank', rel: 'noopener noreferrer' %>
        </p>

        <h3 class="news-feed-header">HSBC News</h3>
        <p class="news-feed-text">
        This is a paragraph below the News Feed header, providing additional context or information as needed...
        <%= link_to 'more', 'https://www.morningstar.com/stocks/xnas/aapl/news', target: '_blank', rel: 'noopener noreferrer' %>
        </p>

        <h3 class="news-feed-header">AMZN News</h3>
        <p class="news-feed-text">
        This is a paragraph below the News Feed header, providing additional context or information as needed...
        <%= link_to 'more', 'https://www.morningstar.com/stocks/xnas/aapl/news', target: '_blank', rel: 'noopener noreferrer' %>
      </p>
  </div>
</div>
