<div class="container">
    <h2> My Ticker Watchlist </h2>

    <% @tickerSubs.each do |ticker| %>
        <% tickerId = ticker.subscribable_id %>
        <% uniqueUserTicker = UserTicker.find_by(id: tickerId) %>
        <% specificTicker = uniqueUserTicker.ticker %>
        <% tickerOwner = uniqueUserTicker.user %>
        <% tickerTxn = Transaction.find_by(user_ticker: uniqueUserTicker)%>
        
        <p class="user">From: <%= tickerOwner.email %></p>
        <div class="watchlist-table">
            <div class="header">
                <div class="column">Ticker</div>
                <div class="column">Flow</div>
                <div class="column">Price</div>
                <div class="column">Quantity</div>
                <div class="column">Date</div>
            </div>
            <div class="info">
                <div class="column"> <%= specificTicker.name %> </div>
                <div class="column"> <%= tickerTxn.flow %> </div>
                <div class="column"> <%= tickerTxn.txnprice %> </div>
                <div class="column"> <%= tickerTxn.qty %> </div>
                <div class="column"> <%= tickerTxn.txndate %> </div>
            </div>
        </div>
    <% end %>
</div>  