<div class="container">
    <h2> My Ticker Watchlist </h2>


    <% @transactions.each do |txn| %>
        <p class="user">From: <%= txn.user_ticker.user.email %></p>
        <div class="watchlist-table">
            <div class="header">
                <div class="column">Ticker</div>
                <div class="column">Flow</div>
                <div class="column">Price</div>
                <div class="column">Quantity</div>
                <div class="column">Date</div>
            </div>
            <div class="info">
                <div class="column"> <%= txn.user_ticker.ticker.name %> </div>
                <div class="column"> <%= txn.flow %> </div>
                <div class="column"> <%= txn.txnprice %> </div>
                <div class="column"> <%= txn.qty %> </div>
                <div class="column"> <%= txn.txndate %> </div>
            </div>
        </div>
</div>

</div>  