<h2>Following Transactions</h2>

<% if @user %>
  <h3>Transactions for <%= @user.email %></h3>
  <% if @transactions.any? %>
    <table>
      <thead>
        <tr>
          <th>Ticker Symbol</th>
          <th>Entry Date</th>
          <th>Entry Price</th>
          <th>Qty</th>
          <th>Current Price</th>
          <th>P/L</th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.user_ticker.ticker.name %></td>
            <td><%= transaction.txndate.strftime("%Y-%m-%d") %></td>
            <td><%= number_to_currency(transaction.txnprice) %></td>
            <td><%= transaction.qty %></td>
            <td><%= number_to_currency(transaction.fetch_current_price) %></td>
            <td><%= number_to_currency(transaction.calculate_pl) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No transactions found for <%= @user.email %>.</p>
  <% end %>
<% else %>
  <p>User not found.</p>
<% end %>
