<div id="<%= dom_id transaction %>">
  <p>
    <strong>Asset:</strong>
    <%= transaction.asset_id %>
  </p>

  <p>
    <strong>Flow:</strong>
    <%= transaction.flow %>
  </p>

  <p>
    <strong>Txndate:</strong>
    <%= transaction.txndate %>
  </p>

  <p>
    <strong>Txnprice:</strong>
    <%= transaction.txnprice %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= transaction.qty %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= transaction.comment %>
  </p>

</div>
