<div class="container">
  <h3 id="table-title">All My Transactions</h3>
  <div class="txn-table">
    <!-- Existing Transactions -->
    <div class="table-header">
      <div class="column"><h5>Flow</h5></div>
      <div class="column"><h5>Ticker</h5></div>
      <div class="column"><h5>Entry Date</h5></div>
      <div class="column"><h5>Entry Price</h5></div>
      <div class="column"><h5>Quantity</h5></div>
      <div class="column"><h5>Current Price</h5></div>
      <div class="column"><h5>P/L</h5></div>
    </div>

    <!-- New Entry Form -->
    <div class="transaction <%= @txn_count.odd? ? 'odd-transaction' : 'even-transaction' %>">
          <div class="column">
            <select name="flow">
              <option value="Buy">Buy</option>
              <option value="Sell">Sell</option>
            </select>
          </div>

          <div class="column">
              <input type="text" placeholder="Enter Ticker" id="ticker-autocomplete" list="tickers-list">
              <datalist id="tickers-list">
                <% @alltickers.each do |ticker| %>
                  <option value="<%= ticker.name %>">
                <% end %>
              </datalist>
          </div>

          <div class="column"><h5><input type="date" placeholder="Enter Date"></h5></div>
          <div class="column"><h5><input type="number" placeholder="Enter Price"></h5></div>
          <div class="column"><h5><input type="number" placeholder="Enter Quantity"></h5></div>

          <div class="column"><h5><input type="number" placeholder="nn1"></h5></div>
          <div class="column"><h5><input type="number" placeholder="nn2"></h5></div>
    </div>

    <% @mytxns.each do |txn| %>
      <% @txn_count += 1 %>
      <div class="transaction <%= @txn_count.odd? ? 'odd-transaction' : 'even-transaction' %>">
        <% usertxnticker = @usertickers.find(txn.user_tickers_id) %>
        <% ticker = @alltickers.find(usertxnticker.ticker_id) %>
        <div class="column"><h5><%= txn.flow %></h5></div>
        <div class="column"><h5><%= ticker.name %></h5></div>
        <div class="column"><h5><%= txn.txndate %></h5></div>
        <div class="column"><h5><%= txn.txnprice %></h5></div>
        <div class="column"><h5><%= txn.qty %></h5></div>
        <div class="column"><h5>???</h5></div>
        <div class="column"><h5>???</h5></div>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="p-4"> <!-- Added border and padding classes -->
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Create Transaction</h2>

            <%= form_with(model: @transaction, url: user_transactions_path(current_user), method: :post, html: { id: 'transaction-form' }) do |form| %>
              <% if @transaction.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
                  <ul>
                    <% @transaction.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= form.label :ticker_id %>
                    <%= form.text_field :ticker_id, id: 'ticker-autocomplete', class: 'form-control', list: 'tickers-list' %>
                    <datalist id="tickers-list">
                      <% @alltickers.each do |ticker| %>
                        <option value="<%= ticker.name %>">
                      <% end %>
                    </datalist>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <%= form.label :flow %>
                    <%= form.select :flow, options_for_select(["Buy", "Sell"]), {}, class: 'form-control' %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= form.label :txndate %>
                <%= form.date_field :txndate, class: 'form-control', value: Date.today %>
              </div>

              <div class="form-group">
                <%= form.label :txnprice %>
                <%= form.number_field :txnprice, step: '0.01', class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= form.label :qty %>
                <%= form.number_field :qty, step: '0.01', class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= form.label :comment %>
                <%= form.text_area :comment, class: 'form-control' %>
              </div>

              <div class="mb-3"></div>

              <div class="form-group">
                <%= form.submit "Create Transaction", class: 'btn btn-primary btn-block' %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
