<div class="container">
  <h3 id="table-title">All My Transactions</h3>
  <div class="txn-table">
    <!-- Existing Transactions -->
    <div class="table-header">
      <div class="column">Flow</div>
      <div class="column">Ticker</div>
      <div class="column">Entry Date</div>
      <div class="column">Entry Price</div>
      <div class="column">Quantity</div>
      <div class="column">Current Price</div>
      <div class="column">P/L</div>
    </div>

    <%= form_with(model: @transaction, url: user_transactions_path(current_user), method: :post, html: { id: 'transaction-form' }) do |form| %>

      <!-- New Entry Form -->
      <div class="transaction <%= @txn_count.odd? ? 'odd-transaction' : 'even-transaction' %>">
        <div class="column">
          <%= form.text_field :flow, list: 'flow-options', placeholder: 'Buy or Sell' %>
          <datalist id="flow-options">
            <option value="Buy">
            <option value="Sell">
          </datalist>
        </div>

        <div class="column">
          <%= form.text_field :ticker_id, id: 'ticker-autocomplete', placeholder: 'Enter Ticker', list: 'tickers-list' %>
          <datalist id="tickers-list">
            <% @alltickers.each do |ticker| %>
              <option value="<%= ticker.name %>">
            <% end %>
          </datalist>
        </div>

        <div class="column">
          <%= form.date_field :txndate, value: Date.today.strftime('%Y-%m-%d'), class: 'form-control' %>
        </div>

        <div class="column">
          <%= form.number_field :txnprice, placeholder: 'Enter Price' %>
        </div>

        <div class="column">
          <%= form.number_field :qty, placeholder: 'Enter Qty' %>
        </div>

        <div class="column"></div>

        <div class="column">
          <%= form.submit "+", class: 'plus-sign' %>
        </div>

      </div>


    <% end %>
    <% @mytxns.each do |txn| %>
      <% @txn_count += 1 %>
      <div class="transaction <%= @txn_count.odd? ? 'odd-transaction' : 'even-transaction' %>">
        <% usertxnticker = @usertickers.find(txn.user_tickers_id) %>
        <% ticker = @alltickers.find(usertxnticker.ticker_id) %>
        <div class="column"><%= txn.flow %></div>
        <div class="column"><%= ticker.name %></div>
        <div class="column"><%= txn.txndate.strftime('%d/%m/%Y') %></div>
        <div class="column"><%= txn.txnprice %></div>
        <div class="column"><%= txn.qty %></div>
        <div class="column">???</div>
        <div class="column">???</div>

      </div>
    <% end %>
  </div>
</div>
