<h1>Community</h1>

<div class="d-flex justify-content-center">
  <div class="col-md-7">
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% existing_user_subscriptions = current_user.subscriptions.filter { |subscription| subscription.subscribable_type == "User" } %>
        <% @users.each do |user| %>
          <% unless user == current_user %>
            <tr>
              <td><%= user.email %></td>
              <td>
                <% subscription = existing_user_subscriptions.find { |subscription| subscription.subscribable_id == user.id } %>
                <% if subscription %>
                  <%= form_with(model: subscription, url: subscription_path(subscription), method: :delete, local: true) do |form| %>
                    <%= form.submit "Unfollow", class: "btn btn-sm btn-danger", data: { disable_with: "Unfollowing..." } %>
                  <% end %>
                <% else %>
                  <%= form_with(model: Subscription.new, url: subscriptions_path, method: :post, local: true) do |form| %>
                    <%= form.hidden_field :subscribable_type, value: "User" %>
                    <%= form.hidden_field :subscribable_id, value: user.id %>
                    <%= form.submit "Follow", class: "btn btn-sm btn-primary", data: { disable_with: "Following..." } %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <!-- add the followed user count below the table -->
    <div class="mt-4" id="followed-user-count">
      <h5>Followed Users Count: <%= current_user.subscriptions.length %></h5>
    </div>
  </div>
</div>
